@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link, .team-social__link, .logo--footer, .logo, .cards-section__link, .footer-section__link, .examples-section__link, .links, .navigation-section__link,
.contact-list__link {
  text-decoration: none;
}

.footer-social__list, .team-social__list, .team-section__list, .projects-section__list, .feature-section__list, .filter-btn__list, .cards-section__list, .footer-section__list, .examples-section__list, .navigation-section__list {
  list-style: none;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #ffffff;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  text-align: center;
}

.navigation-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
  margin-left: auto;
}

.navigation-section__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-section__link,
.contact-list__link {
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.navigation-section__link::after {
  content: "";
  display: flex;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-section__link {
  display: block;
  position: relative;
  color: #212121;
}
.navigation-section__link--current:hover::after, .navigation-section__link--current:focus::after {
  content: "";
  opacity: 1;
}
.navigation-section__link--current::after {
  opacity: 1;
}
.navigation-section__link--current {
  position: relative;
  color: #2196f3;
}

.links {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links:hover, .links:focus {
  color: #2196f3;
}

.hero.section {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img17.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero.container {
  display: flex;
  max-width: 696px;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}
.modal-backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: 250ms;
}
.modal-backdrop > .modal {
  transform: scale(1) translate(-50%, -50%);
}

.modal-btn__close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms ease-in-out, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn__close:hover, .modal-btn__close:focus {
  fill: #2196f3;
  transform: rotate(90deg);
}

.examples-section__list {
  display: flex;
  align-items: center;
  margin: -15px;
}

.examples-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 6 * $card-set-gap) / 6);
  margin: 15px;
  color: #2196f3;
}

.examples-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-section__link:hover, .examples-section__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-section {
  padding: 60px 0;
  background-color: #2f303a;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.footer-section__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section__link {
  font-style: normal;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section__link:hover, .footer-section__link:focus, .footer-section__link--current:hover, .footer-section__link--current:focus {
  color: #2196f3;
}

.footer-section__link--current {
  line-height: 1.71em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-section__list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.cards-section__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards-section__item:nth-child(3n) {
  margin-right: 0;
}
.cards-section__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.cards-section__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-section__link:hover, .cards-section__link:focus {
  transform: translateY(0);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards-section__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.contact-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.contact-list__item {
  display: flex;
  text-align: center;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon {
  fill: #757575;
  margin-right: 10px;
  fill: currentColor;
}

.link.current:hover::after,
.link.current:focus::after {
  opacity: 1;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.filter-btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

.filter-btn__items:not(:last-child) {
  margin-right: 8px;
}

.filter-btn__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn__button:hover, .filter-btn__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-btn__button--current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 94px;
  color: #2196f3;
}
.logo--header {
  color: #000000;
}
.logo--footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  display: block;
  margin-bottom: 20px;
  color: #2196f3;
}
.logo--accent {
  color: #ffffff;
}

.feature-section__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-section__list {
  display: flex;
  margin: -15px;
}

.feature-section__item {
  flex-basis: calc((100% -4 * $card-set-gap) / 4);
  margin: 15px;
}

.feature-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.feature-section__text {
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 400;
  color: #757575;
}

.section.projects {
  padding-top: 0px;
}

.projects-section__title,
.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.projects-section__list {
  display: flex;
  margin-top: 0;
  margin-left: 0;
}

.projects-section__item:not(:last-child) {
  margin-right: 30px;
}

.projects-section__item {
  position: relative;
}
.projects-section__item:not(:last-child) {
  margin-right: 30px;
}

.projects-section__text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.section.team {
  background-color: #f5f4fa;
}

.team-section__list {
  display: flex;
}

.team-section__item:not(:last-child) {
  margin-right: 30px;
}

.team-section__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__item:not(:last-child) {
  margin-right: 30px;
}

.team-section__content {
  padding: 30px 32px;
}

.team-section__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}

.team-section__text {
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  margin-bottom: 16px;
  color: #757575;
}

.footer-social__thumb {
  display: block;
  margin-right: auto;
  width: 206px;
  height: 80px;
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-social__item:not(:last-child),
.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  fill: #ffffff;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  transition: color;
}

.team-social__icon {
  fill: #ffffff;
  fill: currentColor;
}

.footer-social__text,
.footer-form__text {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.footer-form {
  display: flex;
}

.footer-form__input {
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus {
  border-color: #2196f3;
}

.footer-form__button {
  display: inline-flex;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.footer-form__icon--send {
  margin-left: 10px;
  align-items: center;
  fill: currentColor;
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.cards-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-section__link:hover .cards-overlay__text,
.cards-section__link:focus .cards-overlay__text {
  transform: translateY(0);
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

/* -------------Бэкграунд инпут------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.feedback-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.feedback-label__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.feedback-label__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 28px);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-label:hover > .feedback-label__icon {
  fill: #2196f3;
  border-color: #2196f3;
}
.feedback-label:focus-within > .feedback-label__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.feedback-label__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  transition: fill 250ms fill cubic-bezier(0.4, 0, 0.2, 1), border 250ms border cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-label:hover > .feedback-label__input {
  fill: #2196f3;
  border-color: #2196f3;
  outline: -webkit-focus-ring-color auto 0px;
}
.feedback-label:focus-within > .feedback-label__input {
  fill: #2196f3;
  border-color: #2196f3;
  outline: -webkit-focus-ring-color auto 0px;
}

.feedback-label__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms border cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-label__textarea:focus-visible, .feedback-label__textarea:focus {
  border: 1px solid #2196f3;
  outline: -webkit-focus-ring-color auto 0px;
}
.feedback-label__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-label__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-label__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-label--textarea {
  margin-bottom: 20px;
}

.feedback-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-bottom: 30px;
  margin-right: 8px;
}

.feedback-checkbox__policy {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.feedback-checkbox__icon--check:hover,
.feedback-checkbox__policy:focus + .feedback-checkbox__icon--check {
  border-color: #2196f3;
}

.feedback-checkbox__icon--check {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
  background-color: #ffffff;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-checkbox__policy:checked + .feedback-checkbox__icon--check {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: #2196f3;
  border: none;
}

.modal-label:last-of-type:focus-within {
  outline: 1px solid #2196f3;
}

.feedback-checkbox__contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}

.feedback-submit__btn {
  font-family: inherit;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}

.feedback-checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */