.examples__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;

  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 6 - 30px);
  }
}


.examples__link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 210px;
  height: 92px;

  border: 1px solid $social-link-color;
  border-radius: 4px;

  fill: $social-link-color;
  transition: fill $transition-duration $transition-timing-function,
  border-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}


