.footer {
  padding: 60px 0;
  background-color: $secondary-bg-color;
}


.address-container {
  margin-right: 70px;
}

.footer__list {
  @extend %list;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  @extend %link;
  font-style: normal;
  line-height: 1.71em;
  color: $footer-link-color;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus,
  &--current:hover,
  &--current:focus {
  color: $accent-color;
  }
  &--current {
  line-height: 1.71em;
  color: $primary-bg-color;
  transition: color $transition-duration $transition-timing-function;
  }
}


