.hero.section {
  background-color: $secondary-bg-color;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) 
    ), 
  url(../images/Img17.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero.container {
  display: flex;
  max-width: 696px;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: $card-set-gap;
  color: $primary-bg-color;
;
}


.hero-section__button:hover,
.hero-section__button:focus {
  background-color: $accent-color;
  color: $primary-bg-color;
}