.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--team {
    background-color: $bg-team-color;
  }
  &--projects {
  padding-top: 0px;
  
  @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}

