.form__thumb {
  display: flex;
}

.form__input {
  padding: 15px 16px;
  color: $footer-link-color;
  width: 358px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border $transition-duration $transition-timing-function;
  &:focus {
    border-color: $accent-color;
  }
}



.form__icon--send {
  margin-left: 10px;
  align-items: center;
  fill: currentColor;
}
