.social__thumb {
  display: block;
  margin-right: auto;
  width: 206px;
  height: 80px;
}

.social__list {
  @extend %list;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
} 


.social__icon {
  fill: $primary-bg-color;
  fill: currentColor;
}

.social__text,
.form__text {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.socials__link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $social-link-color;
  transition: background-color $transition-duration $transition-timing-function,
  fill $transition-duration $transition-timing-function;
  &--footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-bg-color;
  }
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &--team {
  fill: $primary-bg-color;
  color: $social-link-color;
  transition: background-color $transition-duration $transition-timing-function,
  fill $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
  background-color: $accent-color;
  color: $primary-bg-color;
  transition: color ;
    }
  }
}