  $current-font: "Roboto", sans-serif;
  $logo-font: "Raleway", sans-serif;



  $main-bg-color: #e5e5e5;
  $title-text-color: #212121;
  $primary-text-color: #757575;
  $accent-color: #2196f3;
  $primary-bg-color: #ffffff;
  $secondary-bg-color: #2f303a;
  $logo-color: #000000;
  $link-color: #c4c4c4;
  $bg-button-color: #188ce8;
  $bg-team-color: #f5f4fa;
  $cards-border: #eeeeee;
  $social-link-color:#AFB1B8;
  
  $backdrop-background-color: rgba(0, 0, 0, 0.2);

  $footer-link-color: rgba(255, 255, 255, 0.6);
  $btn-shadow-color: rgba(0, 0, 0, 0.15);
  $bg-cards-overlay: rgba(33, 150, 243, 0.9);
  $border-input-color:rgba(33, 33, 33, 0.2);

  $card-set-gap: 30px;

  $transition-duration: 250ms;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
